<tr class='user'>
  <td class='user-info'>
    <%= image_tag 'https://secure.gravatar.com/avatar/default.png?d=mm&r=R' %>
  </td>
  <td class='user-identity'>
    <%= (identity[:object].name || identity[:object].email_key) %>
    <span class='invite-link'>
      <%= link_to 'Invite this member', webapp_url(path: "users/invitations/new"), target: '_blank' %>
    </span>
  </td>
  <td class='activity-count'>
    <span class='number'><%= identity[:summary].values.map(&:length).sum %></span>
    <%= t('summary_mailer.general.activities') %>
  </td>
</tr>
<tr class='user-identities-data-row'>
  <td class='user-identities-data' colspan='3'>
    <% if identity[:summary].size > 0 %>
      <%= render "summary_mailer/daily/user_identity", identity: identity, limit: 3, each_limit: 1 %>
    <% end %>
  </td>
</tr>
