<tr class='user'>
  <td class='info'>
    <%= image_tag user.gravatar_url(default: 'identicon') %>
  </td>
  <td class='name'>
    <%= user_team.identity %>
  </td>
  <td class='count'>
    <span class='number'><%= user_team.daily_activity_count %></span>
    <%= t('summary_mailer.general.activities') %>
  </td>
</tr>
<tr class='identities-row'>
  <td class='identities' colspan='3'>
    <% identities.map do |identity| %>
      <% if identity[:summary].size > 0 %>
        <%= render "summary_mailer/daily/user_identity", identity: identity %>
      <% end %>
    <% end %>
  </td>
</tr>
