<nav class='header' data-topbar='true' role='navigation'>
  <div class='title-area'>
    <div class='name'>
      <%= render 'shared/identity' %>
    </div>
  </div>
  <section class='header-section'>
    <ul class='right'>
      <%= link_to new_user_session_path, class: 'header-button' do %>
        <li>
          <%= t('auth.title.sign_in') %>
        </li>
      <% end %>
      <%= link_to new_user_registration_path, class: 'header-button' do %>
        <li>
          <%= t('auth.title.sign_up') %>
        </li>
      <% end %>
    </ul>
  </section>
</nav>
