<nav class="navbar navbar-custom navbar-fixed-top <%= controller_path %>" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <%= link_to root_path, class: "navbar-brand page-scroll" do %>
        <%= render 'shared/identity' %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about"><%= t('welcome_header.about') %></a>
        </li>
        <li>
          <%= link_to new_user_session_path, class: 'header-button' do %>
            <%= t('auth.title.sign_in') %>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path, class: 'header-button' do %>
            <%= t('auth.title.sign_up') %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
