<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="intro-text"><%= t('welcome.intro_first_html') %></p>
            <%= link_to new_user_registration_path, class: 'btn-intro' do %>
              無料で登録する
            <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
<div class='intro-overlay'>
</div>

<section id="about" class="container content-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="about-section">
        <h2><%= t('welcome.description.title_html')%></h2>
        <p><%= t('welcome.description.body_html') %></p>
      </div>
    </div>
  </div>
</section>

<section id="sync" class="container content-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="sync-section">
        <h2><%= t('welcome.sync.title_html')%></h2>
        <p><%= t('welcome.sync.body_html')%>
        <div class="sync-logos">
          <%= image_tag "github_logo2.png", class: "logo", style: "height: 70px" %>
          <%= image_tag "slack_logo2.png", class: "logo", style: "height: 105px" %>
          <%= image_tag "trello_logo.png", class: "logo", style: "height: 60px;" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="container content-section">
  <div class="row feature">
    <div class="col-xs-12 col-sm-6 col-md-6 column">
      <%= image_tag 'integration-dashboard.jpg', class: "feature-image"%>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 column">
      <h2><%= t('welcome.feature1.title')%></h2>
      <div class="feature-body"><p><%= t('welcome.feature1.body_html')%></p></div>
    </div>
  </div>

  <div class="row feature" style="margin-bottom: 27px;">
    <div class="col-xs-12 col-sm-6 col-md-6 column">
      <%= image_tag 'integration-stats.jpg', class: "feature-image"%>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 column">
      <h2><%= t('welcome.feature2.title')%></h2>
      <div class="feature-body"><p><%= t('welcome.feature2.body_html')%></p></div>
    </div>
  </div>
    <%= link_to new_user_registration_path, class: 'btn-register' do %>
      無料で登録する
    <% end %>
</section>



<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><%= t('welcome.contact.title') %></h2>
      <p><%= t('welcome.contact.body') %></p>
      <p><a href="mailto:mail@piersky.com">mail@piersky.com</a></p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/pierskyJP" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://www.facebook.com/pierskyHQ" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>
