<!DOCTYPE html>
<html>
<head>
  <title>Piersky</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "i18n" %>
  <%= javascript_include_tag "translations" %>
</head>
<body>
  <%= render 'shared/header' %>
  <%= render 'shared/notification_message' %>

  <%= yield %>
  <%= javascript_include_tag 'dist/application', 'data-turbolinks-track' => true %>
</body>
</html>
