<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'PierSky Mail' %></title>
    <%= stylesheet_link_tag 'mail' %>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td>
            <div id='mail-header'>
              <%= link_to SkyModule.mail_log_link(root_url), class: 'title-link' do %>
                <h1 class='title identity-color'><%= @title || 'PierSky' %></h1>
              <% end %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div id='mail-body'>
              <%= yield %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div id='mail-footer'>
              <%= render 'mailer/footer' %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>