<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'Piersky Mail' %></title>
    <%= stylesheet_link_tag 'mail' %>
  </head>
  <body id='mail-wrapper'>
    <table>
      <tbody>
        <tr>
          <td valign="top">
            <table>
              <tbody><tr>
                <td valign="bottom" style="padding:20px 16px 12px">
                  <div style="text-align:center; font-family: Lato">
                    <%= link_to root_url, id: 'title' do %>
                      <h1 class='identity-color'><%= @title || 'Piersky' %></h1>
                    <% end %>
                  </div>
                </td>
              </tr></tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td valign="top">
            <%= yield %>
          </td>
        </tr>

        <tr>
          <td>
            <%= render 'mailer/footer' %>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>