<!DOCTYPE html>
<html>
<head>
  <title>Piersky</title>
  <%= stylesheet_link_tag 'welcome', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id='page-top'>
  <%= render 'shared/welcome_header' %>
  <%= render 'shared/notification_message'%>
  <div class='auth-content'>
    <div class='auth-container'>
      <div class='auth-inner'>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'shared/welcome_footer' %>
  <%= javascript_include_tag 'welcome/jquery' %>
  <%= javascript_include_tag 'welcome/bootstrap.min' %>
  <%= javascript_include_tag 'welcome/jquery.easing.min' %>
  <%= javascript_include_tag 'welcome/grayscale' %>
  <%= render 'shared/ga' %>
</body>
</html>
